<!DOCTYPE html>
<html>
<head>
<title>CRUD Example</title>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/general.controller.js"></script>
<script type="text/javascript" src="app/employee.service.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="crudApp" ng-controller="GeneralController">

	

	<div class="panel panel-default">
		<div class="panel-heading">Employees</div>
		<div class="panel-body">
			<form class="col-md-4" ng-submit="saveEmployee()">
				<div class="form-group">
					<label for="employeeName">Employee Name</label> <input type="text"
						ng-model="employee.name" class="form-control" id="employeeName"
						placeholder="Employee Name">
				</div>
				<div class="form-group">
					<label for="employeeSalary">Salary</label> <input type="text"
						ng-model="employee.salary" class="form-control"
						id="employeeSalary" placeholder="Salary">
				</div>

				<div class="form-group">
					<label for="employeeDepartment">Department</label> 
					<input type="text"
						ng-model="employee.department" class="form-control"
						id="employeeDepartment" placeholder="Department">
				</div>

				<button type="submit" class="btn btn-default">{{buttonText}}</button>
				
			</form>

			<div class="table-responsive col-md-6">
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<th>Salary</th>
						<th>Department</th>
						<th></th>
					</tr>
					<tr ng-repeat="employee in employees">
						<td>{{employee.name}}</td>
						<td>{{employee.salary}}</td>
						<td>{{employee.department}}</td>
						<td>
							<button type="button" class="btn btn-default"
								ng-click="updateEmployeeInit(employee)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default"
								ng-click="deleteEmployee(employee)">
								<span class="glyphicon glyphicon-remove-circle"
									aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>